<!DOCTYPE html>
<html lang="en">

	<head>
		<title>
			Nick Huber
		</title>
		<meta charset="utf-8" />
		{% load staticfiles %}
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		<link rel="stylesheet" href="{% static 'about/css/styles.css' %}" type="text/css">

		<meta name="viewport" content="width=device-width, initial-scale=1.0>
		
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</head>

	<body class="body">
		<div class="container-fluid" style="min-height:95%">
			<header>
				<div class="row">	  
					<div class="col-sm-10">
						<br/>
						<center>
							<h3>
								Store
							</h3>
						</center>
					</div>
				</div>
				<hr/>
				<div class="row-sm-2">
					<div class="well" id="">
						<ul class="nav nav-pills">
							<li>
								<a href='#'>
									Category1
								</a>
							</li>
							<li>
								<a href='#'>
									Category2
								</a>
							</li>
							<li>
								<a href='#'>
									Category3
								</a>
							</li>
							<li>
								<a href='#'>
									Category4
								</a>
							</li>
						</ul>
					</div>
				</div>
			</header>
			<div class="row">
				<div class="col-sm-10">
					<div class='container-fluid'>
						<br/>
						<br/>
						{% block content %}
						{% endblock %}	
					</div>
				</div>
			</div> 
		</div>
		<footer>
			<div class="container-fluid" style='margin-left:15px'>
				<p>
                    <a href="/about/contact" target="blank">Contact</a> | <a href="/about">About Us</a> | <a href="/blog">Blog</a>
				</p>
			</div>
		</footer>	
	</body>
</html>
